.bannerStyle{
  background-image: url('https://i.ibb.co/M9tyt9r/banner-3.jpg');
  background-repeat: no-repeat;

}
.banner-title{
  text-align: start;
  width: 50%;
}
.bannerStyle img{
  width: 100%;
}